<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <title>Search Page</title>
    <div class="content">
        <h1 style="text-align: center">Search</h1>
    
        <div class="form">
            <form action="/weather_app" method="POST">
                <label for='city'> enter city:<label>
                <input type="text" name="city" id="city">
                <label for='city'> enter units :<label>
                <input type="text" name="city" id="units">
                <label for='city'> enter your API KEy:<label>
                <input type="text" name="city" id="appid">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</body>
</html>